.page.catalog {

	.title {
		color: #fff;
	}

	.line {
		border-bottom: 2px solid #8be523;
		width: 200px;
		margin: 10px 0px;
	}

	.points {
		font-weight: bold;
		color: #fff558;
		font-size: 20px;
		text-transform: uppercase;

	}

	.cards-slider{
	  margin: auto;
	  text-align: center;
	  width: 95%;

		.prize-item{
	    margin: auto;
	    position: relative;
	    text-align: center;
            padding: 20px;

            a:hover {
                color: none;
                text-decoration: none;

                .num {
                    text-shadow: 0 0 12px #0808089e;
                }
            }

	    .content-image {
	      background-color: #fff;
				border: 1px solid #fff;
                position:relative;
                border-radius: 0.5rem 0 0.5rem 0.5rem;
                box-shadow: 0 0 7px #ffffff;

				.stock {
					bottom:0;
					right: 0;
					color: #fff;
	        text-align:center;
	        margin:0 auto;
					padding: 2px;
					width: 25px;
					border-radius: 15px;
	        position:absolute;
					background-color: #ff5959;
				}
	    }

			.box-text {
				color: #fff;
                padding: 10px;
                border-radius: 0 0.5rem 0.5rem 0rem;

				.name {
					font-weight: bold;
                    margin-bottom: 5px;
                    font-size: 17px;
				}

				.num {
					text-transform: uppercase;
					margin-bottom: 0px;
				}
			}

			.box-text.boxred {
				background-color: #ff5959;
            }
            .box-text.boxblue {
				background-color: #35d5e5;
            }

			.box-text.boxgreen {
				background-color: #8be523;
            }

            .text.boxgreen {
                color: #8be523;
                font-size: 20px;
                font-weight: bold;
            }

			.text.boxred {
                color: #ff5959;
                font-size: 20px;
                font-weight: bold;
            }
            .text.boxblue {
                color: #35d5e5;
                font-size: 20px;
                font-weight: bold;
			}

	  }
	}

	.slick-prev:before, .slick-next:before {
	  font-size: 2rem;
	}

	.slick-slide img {
	  margin: auto;
	}

	// show

	.image-show {
		background-color: #fff;
	}

	.info {
		color: #fff;

		.name {
			font-weight: bold;
		}
		.points {
			color: #85fffd;
		}
	}

	.alert-custom-red {
		background-color: #424242c9;
		border: 2px solid #ff2c2c;
		box-shadow: 0 0 2em #ff2c2c;
		text-transform: uppercase;
		color: #fff;
	}

	.alert-custom-green {
		background-color: #424242c9;
		border: 2px solid #8be523;
		box-shadow: 0 0 2em #8be523;
		text-transform: uppercase;
		color: #fff;
	}

}

@media screen and (max-width: 1000px) {
	.page.catalog {


	}
}
