.page.history-points {

	.title {
		color: #fff;
	}

	.line {
		color: #d669ff;
	}

	.line-text {
		margin: 10px 0px 30px 0px;
		width: 200px;
		border: 1px solid #d669ff;
	}

	.points {
		font-weight: bold;
		color: #00ffff;
		font-size: 20px;
		text-transform: uppercase;

	}

}

@media screen and (max-width: 1000px) {
	.page.history-points {


	}
}
