.card {
        background: #0000005c !important;

        .card-body {
          background: rgba(58, 58, 59, 0.651) !important;
          border-radius: 10px 10px 0px 0px !important;
        }

        .card-footer {
          background: rgba(58, 58, 59, 0.651);
          border-radius: 0px 0px 10px 10px;

          .goal {
            text-shadow: 0 0 10px #fff558;
            font-weight: bold;
          }
        }

        .list-group{
            .list-code{
                background: rgb(86, 86, 87) !important;
            }
        }

        .progress{
            background-color: #3e3e3e;;
        }
        .progress-bar-green {
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: #fff;
            text-align: center;
            white-space: nowrap;
            background-color: #bbff2d;
            transition: width 0.6s ease;
        }

        .btn-custom-red {
            background-color: transparent !important;
            border-radius: 20px;
            padding: 1px 15px;
            color: #fff  !important;
            font-weight: bold;
            border: 2px solid #9e1818;
            font-size: 18px;
                border: 1px solid #5c8800;
        }

        .btn-custom-purple {
            background-color: transparent !important;
            border-radius: 20px;
            padding: 1px 15px;
            color: #fff  !important;
            font-weight: bold;
            border: 2px solid #fdafff;
            box-shadow: 0 0 10px #b802bd99;
            font-size: 18px;
        }

        .btn-custom-purple:hover {
            color: rgb(212, 212, 212)  !important;
            border-color:  #b802bd99;
            cursor: pointer;
        }

        .btn-custom-blue {
            background-color: transparent !important;
            border-radius: 20px;
            padding: 1px 15px;
            color: #fff  !important;
            font-weight: bold;
            border: 2px solid #00ffff;
            box-shadow: 0 0 10px #9bf4f9;
            font-size: 18px;
        }

        .btn-custom-yellow {
            background-color: transparent !important;
            border-radius: 20px;
            padding: 1px 15px;
            color: #fff  !important;
            font-weight: bold;
            border: 2px solid #fff558;
            box-shadow: 0 0 10px #ffc01d;
            font-size: 18px;
        }
}
.card.code-active {
    box-shadow: 0 0 2em #ffc01d !important;
    border-radius: 10px;
    border: 3px solid #fff558;
}

.card.code-inactive {
    box-shadow: 0 0 1em rgba(0, 255, 255, 0.329) !important;
    border-radius: 10px;
    border: 1px solid #0ff;
}
