body {
	background-image: url(~/images/background.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.row-input {
	border-bottom: 1px solid #fff;

	.icon-col {
		padding: 0px;
	}
}

.input-custom {
	background-color: transparent !important;
	border: 0px;
	width: 100%;
	padding: 5px;
	color: #ffffff;
	font-size: 18px;

}

input:focus {
	border-color: rgba(255, 245, 88, 1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 245, 88);
  outline: 0 none;
}

.select-custom {
    background-color: transparent !important;
    border: 0px;
    width: 100%;
    padding: 5px;
    color: #ffffff;
    font-size: 18px;

}

select {
    color: rgb(252, 252, 252) !important;
    background-color: #424242 !important;
}

select:focus {
    background-color: #424242 !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #b3b3b3;
  transition: background-color 5000s ease-in-out 0s;
}


::placeholder {
  color: #cbcbcb;
}


.input-custom2 {
	background-color: transparent !important;
	border: 0px;
	width: 100%;
	padding: 5px;
	color: #fff;
	font-size: 18px;
	border-bottom: 1px solid #fff;
	border-radius: 0px;

}

.input-custom2::placeholder {
	color: #fff;
}

.btn-custom {
	background-color: transparent !important;
	border-radius: 20px;
	padding: 3px 35px;
	color: #fff;
	font-weight: bold;
	border: 2px solid #3bd1ff;
	box-shadow: 0 0 1em #3bd1ff;
	font-size: 20px;

}

.btn-custom-green {
	background-color: transparent !important;
	border-radius: 20px;
	padding: 1px 15px;
	color: #fff  !important;
	font-weight: bold;
	border: 2px solid #8be523;
	box-shadow: 0 0 1em #8be523;
	font-size: 18px;
}

.btn-custom-green:hover {
    color: rgb(212, 212, 212)  !important;
    border-color:  #8be523;
    cursor: pointer;
}

.fontSize18 {
	font-size: 18px;
}

.modal-custom {
	.modal-content {
		background-color: #424242;
		border: 2px solid #8be523;
		box-shadow: 0 0 2em #8be523;

		.modal-header {
			h5 {
				color: #fff;
			}
		}
		.modal-body {
			color: #fff;
		}
	}

}

.page {
	min-height: 500px;
}

.content-page {
	background: #ffffff57;
	padding: 40px 50px;
	border-radius: 0px 0px 50px 50px;
	margin-bottom: 20px;
}

.card-info {
	border: 2px solid #8be523;
	box-shadow: 0 0 2em #8be523;
	padding: 10px;
	margin-top: 15px;
	color: #fff;
	font-size: 22px;

	p {
		margin-bottom: 0px;
	}

	.num {
		font-size: 24px;
	}

	.small {
		font-size: 12px;
	}
}

.card2 {
	border: 2px solid #3bd1ff;
	box-shadow: 0 0 2em #3bd1ff;
}

.card3 {
	border: 2px solid #ff2c2c;
	box-shadow: 0 0 2em #ff2c2c;
}

.card4 {
	border: 2px solid #fff558;
	box-shadow: 0 0 2em #ffc01d;
}

.content-text {
	background-color: #00000054;
	border-radius: 50px;
	padding: 30px 50px;
	color: #fff;

}

.text-points-cu {
    font-weight: bold !important;
    color: #fff06e;
}

.global-point {
    .line-purple {
        margin: 10px 0px;
        width: 200px;
        border: 1px solid #d669ff;
        box-shadow: 0 0 3px 1px #D669FF;
    }
}
