.alert-custom-red {
    background-color: #424242c9;
    border: 2px solid #ff2c2c;
    box-shadow: 0 0 2em #ff2c2c;
    text-transform: uppercase;
    color: #fff;
}

.alert-custom-green {
    background-color: #424242c9;
    border: 2px solid #8be523;
    box-shadow: 0 0 2em #8be523;
    text-transform: uppercase;
    color: #fff;
}
